{% extends 'base.html.twig' %}

{% block title %}Todo{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



    



<div class="example-wrapper">

    <div class="card" style="border-radius:10px;box-shadow: 5px 5px 10px gray;">
        <div class="card-body">

            <h4>Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches !</h4>

            <div class="row" style="justify-content:center;">
                <a href="{{ path('app_task_create') }}" class="btn btn-success mr-1">Créer une nouvelle tâche</a>
                <a href="{{ path('app_task_list') }}" class="btn btn-info">Consulter la liste des tâches à faire</a>
                <a href="{{ path('app_task_list_ending') }}" class="btn btn-secondary ml-1">Consulter la liste des tâches terminées</a>
            </div>
        </div>
    </div>

    
</div>
{% endblock %}
